.navbar.navbar-fixed-top
  .navbar-inner
    .container
    
      = link_to 'Rorschach', root_path, class: 'brand'
      
      .nav-collapse.pull-right
        %ul.nav
          %li= link_to "Checks", checks_path