.navbar.navbar-fixed-top
  .navbar-inner
    .container
    
      = link_to 'Rorschach', root_path, class: 'brand'
      
      .nav-collapse
        %ul.nav
          %li= link_to "Checks", checks_path          
          %li= link_to "Events", events_path